

.sidebar{
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#0F172B, #581789, #0F172B);
  width: 320px;
  height: 100vh;
  margin: 0;
  align-items: center;
  top: 0;
  position: fixed;
  box-shadow: 10px 0px 50px #0F172B;
}


.sidebar.collapsed{
  width: 72px;
  align-items: center;
}

.sidebar-content{
  width: 100%;
  flex: 1; /* Занимает всё доступное пространство */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

/* ползунок скролла для WebKit браузеров (Chrome, Safari, Edge) */
.sidebar-content::-webkit-scrollbar {
  display: none;
}


.sidebar-header{
    height: 64px;
    display: flex;
    gap: 10px;
    margin: 20px 0 0 0px;
    align-items: center;
    flex-shrink: 0; /* Важно! */
}

.sidebar.collapsed .sidebar-header{
    gap: 0px;
}

.sidebar.collapsed .sidebar-header{
  width: 100%;
  justify-content: center;
}

.switch-size {
    margin-left: 80px;
}
.sidebar.collapsed .switch-size{
    margin: 0 -20px 0 0;
}

.switch-button {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
    border-radius: 8px;
    border: 1px solid #2748A9;
    background-image: linear-gradient(130deg,#26274A, #1D337D);
    transition: all 0.2s ease;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sidebar-logo{
    align-items: center;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
}

.sidebar.collapsed .sidebar-logo {
    height: 50px;
    width: 50px;
    gap: 0px;
}

.sidebar-logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.sidebar-logotext h1{
    color: aliceblue;
    font-size: 20px;
}

.sidebar.collapsed .sidebar-logotext{
  display: none;
}

.sidebar-logotext p{
    color: rgb(251, 148, 255);
    font-size: 13px;
}

.sidebar-search{
    flex-shrink: 0 !important;
    display: flex;
    align-items: center;
    margin: 35px 0 0 0;
    width: 89.8%;
    height: 50px;
    background-color: #212241;
    border-radius: 3.40282e38px;
    border: 1px solid #4A2C79;
    gap: 10px;
    margin-bottom: 15px;
}
.sidebar.collapsed .sidebar-search textarea{
  display: none;
}
.sidebar.collapsed .sidebar-search{
  width: 50px;
  justify-content: center;
}
.sidebar-search:focus-within{
    -webkit-tap-highlight-color: transparent; /* для мобильных */
    user-select: none;
    border: 2px solid #C27AFF;
}
.sidebar-search textarea{
    text-align: left;
    padding-top: 15px;
    outline: none;
    background: none;
    color: #C27AFF;
    font-size: 15px;
    resize: none;
    border: none;
    width: 100%;
    height: 100%;
    
} 
.sidebar-search textarea::placeholder{
    color:#C27AFF;
}

.search-ico{
    width: 30px;
    height: 30px;
    margin-left:10px ;
    color: #C27AFF;
     
}

.sidebar.collapsed .search-ico {
    margin-left: 0;
}

.sidebar-button{
    flex-shrink: 0 !important;
    display: flex;
    align-items: center;
    height: 36px;
    width: 89.8%;
    gap: 20px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 3.40282e38px;
}
.sidebar.collapsed .sidebar-button{
  width: 50px;
  justify-content: center;
}

.sidebar-button:hover{
    background-color: rgba(129, 45, 207, 0.25);
    transition: 0.2s;
}

.sidebar-button-ico{
    width: 20px;
    height: 20px;
    color: white;
    margin-left: 10px;
}

.sidebar.collapsed .sidebar-button-ico {
    margin-left: 0px;
}

.sidebar-button p{
    color: white;
    font-size: 15px;
}
.sidebar.collapsed .sidebar-button p{
  display: none;
}
.star{
    width: 20px;
    color: rgb(255, 208, 0);
}
.sidebar-recomends{
    display: flex;
    flex-direction: column;
    flex-shrink: 0 !important;
    height: 278px;
    width: 89.8%;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #2748A9;
    background-image: linear-gradient(130deg,#26274A, #1D337D);
    margin-top: 30px; 
    padding-left: 20px;
}
.sidebar.collapsed .sidebar-recomends{
  display: none;
}
.sidebar-recomends-header{
    display: flex;
    gap: 10px;
    display: flex;
    color: white;
    font-size: 17px;
    width: 100%;
    margin-top: 15px;
    
}
.sidebar-recomends-posts{
    color: #BEDBFF;
    margin-top: 30px;
    
}
.sidebar-recomends-posts p {
    color:#488DE3;
    font-size:12px;
    
}

.sidebar-recomends-posts h1 {
    margin-top: 10px;
    font-size: 15px;
    
}

.sidebar-research{
    color: rgb(255, 255, 255);
    flex-shrink: 0 !important;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, #9913F8, #BD2ABB,#E3007C);
    display: flex;
    align-items: center;
    height: 36px;
    width: 89.8%;
    gap: 5px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 3.40282e38px;
}
.sidebar.collapsed .sidebar-research{
  width: 50px;
}
.sidebar.collapsed .sidebar-research p{
  display: none;
}

.sidebar-research:hover{
    background-image: linear-gradient(90deg, #8300D8, #A3209D,#C5005F);
}

.sidebar-research-ico{
    width: 20px;
    height: 20px;
    color: rgb(255, 255, 255);
}